<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title> Sign Up | Bookit </title>
  <style>
    @import url("../static/style.css");
    .bg{
    background-image: url("../static/bgfinal.png");
    }
    .leftimg{
    background-image: url("../static/Signup.png");
    }
  </style>
</head>
<body>
      <div class="bg">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
          <div class="row whitebg">
            <div class="col-6 leftimg">
              <img class="imglogo" src="../static/Bookitwh.png" />
            </div>
            <div class="col-6 rightside d-flex justify-content-center align-items-center">
              <div class="role">
                <a href="/" style="font-weight: 100;">User</a> | <a href="/lib/login" style="font-weight: 100;">Librarian</a>
              </div>
              <div class="login">
                <header class="display-6"> Sign Up </header>
                <form autocomplete="off" method="POST">
                    <input type="email" name="supemail" placeholder="Email" class="inp" required> <br /><br />
                    <input type="text" name="supfname" placeholder="First Name" class="inp" required><br /><br />
                    <input type="text" name="suplname" placeholder="Last Name" class="inp" required><br /><br />
                    <input type="password" name="suppass" placeholder="Password" class="inp" required><br /><br />
                    <input type="submit" value="Sign Up" class="submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <img src="../static/copyright-line.png"> Bookit, 2024. All rights reserved
        <a href="/about" style="color: rgb(255,255,255); position: absolute; left: 1423px;"> About us </a>
      </footer>
</body>
</html>