<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Books </title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{{user.f_name}} | Profile</title>
    <style>
        @import url("../../../static/style.css");
        .leftcolup{
      background-image: url("../../../static/libbg.png");
    }
    .inp{
        width: 500px
    }
    .submit{
        width: 250px;
    }

   </style>
</head>
<body>
    <nav class="navbar">
        <img class="imglogo" class="logohome" src="../../../static/Bookitwh.png" />
        
        <form autocomplete="off" class="d-flex search" role="search" method="POST" action="/{{user.usr_id}}/search">
            <input class="inp1" type="search" name="search" placeholder="&#x1F50E;&#xFE0E; Type and press enter to search">
        </form>

        <div class="linklist">
            <ul>
                <li class="navbar_links">   <a href="/{{user.usr_id}}/home" class="navicons"> <img src="../../../static/home-5-line.png" alt="home icon"/> </a></li>
                {% if user.role == "librarian" %}
                    <li class="navbar_links">  <a href="/lib/{{user.usr_id}}/profile" class="navicons" style="border-bottom: 2px solid rgb(255,255,255); padding: 10px;"> <img src="../../../static/user-line.png" alt="user icon"/> Hello, {{user.f_name}} </a> </li>
                
                {% else %}
                    <li class="navbar_links">  <a href="/{{user.usr_id}}/profile" class="navicons" style="border-bottom: 2px solid rgb(255,255,255); padding: 10px;"> <img src="../../../static/user-line.png" alt="user icon"/> Hello, {{user.f_name}} </a> </li>
                {% endif %}
                {% if user.role == "user" %}
                    <li class="navbar_links"><a href="/{{user.usr_id}}/cart" class="navicons"><img src="../../../static/shopping-cart-line.png" alt="shopping cart"/> </a></li>
                {% endif %}
                <li class="navbar_links"><a href="/{{user.usr_id}}/logout" class="navicons"><img src="../../../static/logout.png" alt="shopping cart"/> </a></li>
        </ul>
        </div>
    </nav>

    <div class="bgup">

            <div class="row mainrowup">
                
                <div class="col-5 leftcolup">
                    <div class="lefttextup">
                        <img src="../../../static/user-line-black-big.png" alt="Big user icon" class="usriconup"/>
                        <span class="usernameup"><h1 class="display-6">{{user.f_name}}  {{user.l_name}}</h1></span>
                        <span class="emailup"><h5>{{user.email}}</h5></span>
                        <div class="usrmenu">
                            <ul style="list-style-type: none;">
                                <li class="usrmenu_links">   <a href="/lib/{{user.usr_id}}/profile" > Edit Profile </a></li><br/>
                                <li class="usrmenu_links">   <a href="/{{user.usr_id}}/lib/see_req_lib" > Book Requests </a></li><br/>
                                <li class="usrmenu_links">   <a href="/{{user.usr_id}}/all_books" >  Books </a> </li><br/>
                                <li class="usrmenu_links">   <a href="/{{user.usr_id}}/lib/sections" > Sections </a></li><br/>
                                <li class="usrmenu_links">   <a href="/{{user.usr_id}}/lib/books_issued" style="border-bottom: 2px solid rgb(0,0,0); padding-bottom: 10px;"> Books Issued </a></li><br/>
                                <li class="usrmenu_links">   <a href="/{{user.usr_id}}/lib/stats" > Statistics </a></li><br/>
                                <li class="usrmenu_links">   <a href="/{{user.usr_id}}/lib/authors"> Authors </a></li><br/>

                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="col rightcolup bookstable">
                        <header class="display-4""> Books Issued </header><br /><br /><br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> Index </th>
                                    <th scope="col"> User Id </th>
                                    <th scope="col"> Book Name </th>
                                    <th scope="col"> Days Passed </th>
                                    <th scope="col"> Actions </th>
                                </tr>
                            </thead>
                        {% for i in l %}
                            <tbody>
                                <tr>
                                    <th scope="row" > {{loop.index}} </th>
                                    <td> {{i[0]}} </td>
                                    <td> {{i[1].book_name}} </td>
                                    <td> {{i[2]}} </td>
                                    <td>
                                        <a class="btn btn-outline-primary btn-sm" href="/{{i[0]}}/user/return_book/{{i[1].book_id}}"> Revoke Access </a>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <footer style="margin-top: 70px;">
        <img src="../../../static/copyright-line.png"> Bookit, 2024. All rights reserved
        <a href="/about" style="color: rgb(255,255,255); position: absolute; left: 1300px;"> About us </a>
    </footer>
</body>
</html>
</body>
</html>